# junk
.DS_Store

# private local docs
docs/

# build and cmake
build
build-local
build-deps
build-coverage
build-relwithdebinfo
build-relwithdebinfo-tests
.cache
compile_commands.json

# coverage
*.gcda
*.gcno
*.gcov
coverage.info
htmlcov/

# local packages and generated context
outbox/

# sysroots
sysroots

# sysroot overlays
*-overlay

# local target-platform runtime libraries
third_party/libs_*/

# testing junk
Testing
logs
